@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
body {
  margin: 0;
  background: #EFEFF4;
  min-height: 1500px;
}

input
{
  position: fixed;
  top: 50%;

width:400px;
height: 34px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 46px;
}
button
{
  position: absolute;
width: 45px;
top: 50%;
height: 43px;

background: #C0BFE1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}
h1{
  position: absolute;
  top: 35%;


font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 54px;

color: #000000;
}
/* List */
ul {
  counter-reset: index;  
  padding: 0;
  max-width: 500px;
  margin-top: 50%;
}
/* List element */
li {
  counter-increment: index; 
  font-family: Reem Kufi;
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, rgb(127, 157, 255), rgb(50, 7, 131));
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}
@use postcss-preset-env {
  stage: 0;
  autoprefixer: {
    grid: true;
  }
  browsers: last 2 versions
}
